<div class="career-grid" id="experience">
    {% if site.data.profile.education %}
    <section class="career-panel career-education" aria-labelledby="education-heading">
        <h2 class="career-heading" id="education-heading">
            <span class="career-heading-icon" aria-hidden="true"><i class="fas fa-graduation-cap"></i></span>
            <span data-i18n="section.education">Education</span>
        </h2>
        <ol class="career-timeline">
            {% for item in site.data.profile.education %}
            {% include widgets/career_item.html item=item %}
            {% endfor %}
        </ol>
    </section>
    {% endif %}

    {% if site.data.profile.experience %}
    <section class="career-panel career-research" aria-labelledby="research-heading">
        <h2 class="career-heading" id="research-heading">
            <span class="career-heading-icon" aria-hidden="true"><i class="fas fa-flask"></i></span>
            <span data-i18n="section.experience">Research Experience</span>
        </h2>
        <ol class="career-timeline">
            {% for item in site.data.profile.experience %}
            {% include widgets/career_item.html item=item %}
            {% endfor %}
        </ol>
    </section>
    {% endif %}

    {% if site.data.profile.awards %}
    <section class="career-panel career-awards" aria-labelledby="awards-heading">
        <h2 class="career-heading" id="awards-heading">
            <span class="career-heading-icon" aria-hidden="true"><i class="fas fa-award"></i></span>
            <span data-i18n="section.awards">Honors &amp; Awards</span>
        </h2>
        <ul class="career-awards-list">
            {% for item in site.data.profile.awards %}
            <li class="career-award">
                <time class="career-award-year" datetime="{{ item.date }}">{{ item.date }}</time>
                <div class="career-award-body">
                    <h3 class="career-award-name" data-i18n="{{ item.i18n_key }}.name">{{ item.name }}</h3>
                    {% if item.issuer %}
                    <p class="career-award-issuer" data-i18n="{{ item.i18n_key }}.issuer">{{ item.issuer }}</p>
                    {% endif %}
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}
</div>
